<div>
    <div class="input-group mb-3 searchInput">
        <input 
            type="text" 
            class="form-control" 
            placeholder="Buscar"
            [(ngModel)]="busqueda"
            (keydown.enter) = "buscar()"
            >
            <button class="btn btn-primary" type="button" 
            (click) = "buscar()"
            >Buscar producto</button>
    </div>
    <p *ngIf="busqueda.length > 0">buscando: {{busqueda}}</p>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
        (change) = "filterbyExistencia($event)">
        <label class="form-check-label" for="defaultCheck1">
        Solo en existencia
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
        (change) = "sortProducts($event)"
        >
        <label class="form-check-label" for="defaultCheck1">
            Ordenar por precio (menor a mayor)
        </label>
    </div>
    <div class="form-check">

        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
        (change) = "resaltarExistenciaMayor($event)"
        >
        <label class="form-check-label" for="defaultCheck1">
            Resaltar existencia mayor a 3
        </label>
    </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="resBusqueda.length === 0">
    Ningun producto concuerda con su busqueda
</div>

<div class="card-group cardsContainer">
    <div class="card" style="width: 22rem;" *ngFor="let prod of resBusqueda; let i= index"
     [ngStyle]="{'background-color' : prod.color == 1 ? 'green': 'white'}">
        <img src={{prod.imagenURL}} class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title" style="text-align: center;">{{prod.nombre}}</h5>
          <p class="card-text">Precio (MXN): ${{prod.precio}}</p>
          <p class="card-text">Marca : {{prod.marca}}</p>
          <p class="card-text">Descripcion: {{prod.descripcion}}</p>
          <p class="card-text">Existencia : {{prod.existencia}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
